[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
pyjwt = "*"

[dev-packages]
pylint = "*"
pylint-flask-sqlalchemy = "*"
pytest = "*"

[requires]
python_version = "3.9"
